[gcode_macro MARIO]
gcode:
	{% set VOLUME = params.VOLUME|default(80)|int %} ; volume % [0..100]
    
    # input validation
    {% set IS_VALID = true %}
	{% if VOLUME < 0 or VOLUME > 100 %}
        {% set IS_VALID = false %}
        { action_respond_info("Invalid volume value. Must be between 0 and 100") }
    {% endif %}

	# routine
    {% if IS_VALID %}
		BEEP TONE=660 DURATION=100 VOLUME={VOLUME}
		SLEEP MS=150
		BEEP TONE=660 DURATION=100 VOLUME={VOLUME}
		SLEEP MS=300
		BEEP TONE=660 DURATION=100 VOLUME={VOLUME}
		SLEEP MS=300
		BEEP TONE=510 DURATION=100 VOLUME={VOLUME}
		SLEEP MS=100
		BEEP TONE=660 DURATION=100 VOLUME={VOLUME}
		SLEEP MS=300
		BEEP TONE=770 DURATION=100 VOLUME={VOLUME}
		SLEEP MS=550
		BEEP TONE=380 DURATION=100 VOLUME={VOLUME}
    {% endif %}

